.information{
    background-color: #45a29e;
}
.typeWriter{
  font-family: sans-serif;
  font-weight:700;
  font-size:30px;
  text-align: center;
  color: rgb(3, 3, 3);
}
.resume:hover{
    background-color: tomato;
}
a:hover{
  color: white;
}